.navbar{
    height: 84px;
    width: 1440px;
    background-color: var(--Blue, #149BFC);
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    margin-right: 35px;
}

.search-bar{
    margin-left: 300px;
}

.type{
    border: none;
    height: 43px;
    width: 250px;
    background-color: #45B1FF;
    padding-left: 12px;
}

.magnify{
    display: flex;
    align-items: center;
    background-color: #45B1FF;
    padding-left: 40px;
}

img{
    height: 18px;
    width: 18px;
    padding-right: 2px;
}

.logo{
    font-size: 21px;
    text-transform:capitalize;
    color: #FFF;
}
::placeholder{
    color: #FFF;
}
select{
    border: none;
    background-color: #149BFC;
    color: #FFF;
}